.flag{
    width: auto;
    height: 90px;
    filter: blur(3px);
}

.list{
  margin-left: 50px;
  padding-top: 100px;
}

.photo{
  width: 100px;
  height: 100px;
  border-radius: 80px;
}

.name{
  font-family: 'DejaVu Sans Mono';
  margin-top: -100px;
  margin-left: 150px;
}

#red{
    background: red;
}
#orange{
    background: orange;
}

#yellow{
    background: yellow;
}

#green{
    background: green;
}

#blue{
    background: blue;
}

#fioletowy{
    background: fuchsia;
}

#sdp{
    height: 200px;
    width: 200px;
    margin-top: -500px;
    margin-left: 60px;
    position: absolute;
}

#pidarasi{
    position: absolute;
    margin-top: -530px;
    margin-left: 40%;
    font-family: 'DejaVu Sans Mono';
}

#warn{
    font-family: 'DejaVu Sans Mono';
    margin-left: 6%;
}

#footer{
  padding-top: 20px;
  margin-top: 200px;
  background-color: #f5eded;
  width: auto;
  height: 200px;
}

.saske{
  margin-left: 40px;
  font-family: 'DejaVu Sans Mono';
}
